<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>429997631658-fd4ghig5fcipsgjef1731p4cvaasarnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429997631658-fd4ghig5fcipsgjef1731p4cvaasarnp</string>
	<key>API_KEY</key>
	<string>AIzaSyCDjBfyp9l5uilN5wU9Bu5fXY1bjDaqWLw</string>
	<key>GCM_SENDER_ID</key>
	<string>429997631658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thargyi.babyName</string>
	<key>PROJECT_ID</key>
	<string>baby-name-app-db-tg7474</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-name-app-db-tg7474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429997631658:ios:b38499f35f4668de</string>
	<key>DATABASE_URL</key>
	<string>https://baby-name-app-db-tg7474.firebaseio.com</string>
</dict>
</plist>